dify-dsl-builder/assets/fixtures/minimal-workflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Minimal Workflow
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: package
    value:
      plugin_unique_identifier: aict/ai_hub:3.3.1@4e71d8262fbecb133fd6801e8b0a4c141f0bf4f0d6b68cec1b5c254a65365e96
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods:
        - local_file
        - cs_file
      audio:
        enabled: false
        number_limits: 1
        transfer_methods:
          - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 100
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 20
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - cs_file
      number_limits: 3
      video:
        enabled: false
        number_limits: 1
        transfer_methods:
          - local_file
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: start-source-llm_generate-target
        source: start
        sourceHandle: source
        target: llm_generate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
        id: llm_generate-source-end-target
        source: llm_generate
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables:
            - label: input_text
              max_length: 20000
              options: []
              required: true
              type: paragraph
              variable: input_text
        height: 90
        id: start
        position:
          x: 80
          y: 280
        positionAbsolute:
          x: 80
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: ''
          audio:
            configs:
              variable_selector: []
            enabled: false
          document:
            configs:
              variable_selector: []
            enabled: false
          model:
            completion_params:
              temperature: 0.2
            mode: chat
            name: gpt-5.5-2026-04-24
            provider: aict/ai_hub/ai_hub
          prompt_template:
            - id: system-prompt
              role: system
              text: |
                You are a precise assistant. Return a concise, useful result.
            - id: user-prompt
              role: user
              text: |
                Process the following input:
                {{#start.input_text#}}
          selected: false
          title: Generate
          type: llm
          variables: []
          video:
            configs:
              variable_selector: []
            enabled: false
          vision:
            enabled: false
        height: 98
        id: llm_generate
        position:
          x: 420
          y: 280
        positionAbsolute:
          x: 420
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          outputs:
            - value_selector:
                - llm_generate
                - text
              value_type: string
              variable: result
          selected: false
          title: End
          type: end
        height: 90
        id: end
        position:
          x: 760
          y: 280
        positionAbsolute:
          x: 760
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
